<?xml version="1.0"?>
<comsets>
  <add key="wsPort" value="" />
  <add key="bgimgID" value="1" />
  <add key="kefuQQ" value="123456" />
  <add key="kefuTel" value="0512-66668888" />
  <add key="netType" value="-1" />
  <add key="jj5Level" value="4" />
  <add key="jj3Level" value="8" />
  <add key="jj4Level" value="3" />
  <add key="siteStop" value="0" />
  <add key="siteStopText" value="" />
  <add key="siteAskTime1" value="00:00" />
  <add key="siteAskTime2" value="23:59" />
  <add key="netMap_jd_hide" value="0" title="关闭会员平台网络图" />
  <add key="netMap_jd_service_hide" value="0" title="关闭服务中心网络图" />
  <add key="kefuClose" value="1" title="关闭客服" />
  <add key="limitRegOneTeam" value="0" />
  <add key="limitAgentArea" value="0" />
  <add key="jibieShow" value="0" />
  <add key="agentShow" value="0" />
  <add key="financeShow" value="0" />
  <add key="helpSystemShow" value="1" />
  <add key="helpSystemMinTZ" value="1000" />
  <add key="helpSystemMaxTZ" value="10000" />
  <add key="helpSystemMaxTZ2" value="20000" />
  <add key="helpSystemMaxTZ3" value="30000" />
  <add key="helpSystemMinApply" value="100" />
  <add key="helpSystemMaxApply" value="10000" />
  <add key="helpSystemMinApply2" value="200" />
  <add key="helpSystemMaxApply2" value="20000" />
  <add key="helpCashI1" value="1" title="排单款打完就冻结5天能解冻提现" />
  <add key="helpCashF1" value="0.01" title="排单扣币比例" />
  <add key="helpCashF2" value="10" title="排单扣币最低限制" />
  <add key="helpSystemMaxTZTimesMonth" value="15" />
  <add key="maxRegNum" value="500" />
  <add key="maxRegNumNotice" value="5000" />
  <add key="jj1Show" value="0" title="推荐奖" />
  <add key="jj2Show" value="0" title="市场奖" />
  <add key="jj3Show" value="0" title="见点奖" />
  <add key="jj4Show" value="0" title="报单费" />
  <add key="jj5Show" value="1" title="管理奖" />
  <add key="jj6Show" value="0" title="理财利息" />
  <add key="jj7Show" value="0" title="日分红" />
  <add key="jj8Show" value="0" title="幸运奖" />
  <add key="jj10Show" value="0" title="层奖" />
  <add key="chongFuXiaoFeiShow" value="0" />
  <add key="shuiShouShow" value="0" />
  <add key="shuiShouShow3" value="0" />
  <add key="shuiShouShow4" value="0" />
  <add key="teamFenLiShow" value="0" title="分裂盘" />
  <add key="stockTradeShow" value="0" title="股票交易" />
  <add key="maxRegNum" value="5000" title="每天最大注册量" />
  <add key="maxRegNumNotice" value="5000" title="每天最大注册量提示" />
  <add key="mobinvalid" value="0" title="手机验证是否无效" />
  <add key="mobCheckId" value="jinrong99999" title="" />
  <add key="mobCheckPwd" value="jinrong99999" title="" />
  <add key="mobCheckId2" value="jinrong777" title="" />
  <add key="mobCheckPwd2" value="jinrong888" title="" />
  <add key="mobConPre" value="" title="【理想社区】" />
  <add key="maxMobileReg" value="3" title="同一手机允许注册量" />
  <add key="stopZhuanzhang" value="0" title="禁止转账" />
  <add key="stopCashOut" value="0" title="禁止提现" />
  <add key="CashOutFlag1" value="100" title="静态提现倍数限制" />
  <add key="CashOutFlag2" value="100" title="动态提现倍数限制" />
  <add key="CashOutTimes" value="1" title="每天提现次数限制" />
  <add key="regtrueName" value="0" title="真实姓名" />
  <add key="regidCard" value="0" title="身份证" />
  <add key="regsex" value="0" title="性别" />
  <add key="regaddress" value="0" title="联系地址" />
  <add key="regpostCode" value="0" title="邮政编码" />
  <add key="regemail" value="0" title="电子信箱" />
  <add key="regalipay" value="0" title="支付宝" />
  <add key="regqq" value="0" title="qq" />
  <add key="regweixin" value="0" title="微信" />
  <add key="regbank" value="1" title="银行资料" />
  <add key="regmobile" value="1" title="手机号码" />
  <add key="regjiedian" value="0" title="接点人" />
  <add key="interest1" value="0.02" />
  <add key="interest2" value="0.2" />
  <add key="interest3" value="0.1" />
  <add key="interest4" value="0.05" />
  <add key="helpAddPwd2Invalid" value="0" />
  <add key="memberInfoModiMaxTime" value="3" title="会员修改资料最大次数" />
</comsets>