.css {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.css2 {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.kk8 {
	BORDER-RIGHT: #cd8e01 1px solid; BORDER-TOP: #cd8e01 1px solid; BORDER-LEFT: #cd8e01 1px solid; BORDER-BOTTOM: #cd8e01 1px solid
}
.kk9 {
	BORDER-RIGHT: #1b8db2 1px solid; BORDER-TOP: #1b8db2 1px solid; BORDER-LEFT: #1b8db2 1px solid; BORDER-BOTTOM: #1b8db2 1px solid
}
.zw0 {
	FONT-SIZE: 14px; COLOR: #cc0000; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw1 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw3 {
	FONT-SIZE: 12px; COLOR: #ff3300; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw4 {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw5 {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw6 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw7 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw8 {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.zw9 {
	FONT-SIZE: 12px; COLOR: #006600; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.kb {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px solid; BORDER-LEFT: #006699 1px solid; LINE-HEIGHT: 13px; BORDER-BOTTOM: #006699 1px solid; HEIGHT: 13px
}
A.li1:link {
	FONT-SIZE: 12px; COLOR: #3e3e3e; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li1:visited {
	FONT-SIZE: 12px; COLOR: #3e3e3e; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li1:hover {
	FONT-SIZE: 12px; COLOR: #ff4804; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li1:active {
	FONT-SIZE: 12px; COLOR: #3e3e3e; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li2:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li2:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li2:hover {
	FONT-SIZE: 12px; COLOR: #ffcc00; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li2:active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li3:link {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
.kk1 {
	BORDER-RIGHT: #acacac 1px solid; BORDER-LEFT: #acacac 1px solid; BORDER-BOTTOM: #acacac 1px solid
}
A.li3:visited {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li3:hover {
	FONT-SIZE: 12px; COLOR: #ff4804; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li3:active {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li4:link {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li4:visited {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li4:hover {
	FONT-SIZE: 12px; COLOR: #ff4804; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li4:active {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
.kk2 {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-BOTTOM: #c6c6c6 1px solid
}
.td10 {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
.kk4 {
	BORDER-RIGHT: #d68a03 1px solid; BORDER-TOP: #d68a03 1px solid; BORDER-LEFT: #d68a03 1px solid; BORDER-BOTTOM: #d68a03 1px solid
}
A.li5:link {
	FONT-SIZE: 12px; COLOR: #3e3e3e; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li5:visited {
	FONT-SIZE: 12px; COLOR: #3e3e3e; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li5:hover {
	FONT-SIZE: 12px; COLOR: #ff4804; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li5:active {
	FONT-SIZE: 12px; COLOR: #3e3e3e; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li6:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li6:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: none
}
A.li6:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li6:active {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.li7:link {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: none; 
}
A.li7:visited {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: none; 
}
A.li7:hover {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline; 
}
A.li7:active {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 20px; FONT-FAMILY: "??"; TEXT-DECORATION: underline; 
}
TABLE {
	FONT-SIZE: 12px
}
.li7{ padding-left:30px;}

.member_kuang1{}
.member_kuang1 td{ text-align:left; text-indent:30px;}

.member_kuang2{}
.member_kuang2 td{text-align:left; text-indent:20px; line-height:25px; border-bottom:1px solid #ccc; background:url(/demo1/images/dsis-usernew-xt-3.gif) no-repeat 10px 12px;}